<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NearbyRestaurants.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF53D4B024B94255008FA6E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF53D4C624B94256008FA6E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF53D4D124B94256008FA6E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
